/* ComoJugar */
/* Imagen  */
.comoJugar-hero {
    background-image: url('../img/teclado.png'); 
    background-size: cover;
    background-position: center;
}


/* footer */
.comoJugar-footer {
    margin-top: 100px; 
}
