/* Utilizables */
/* Imagen*/
.utilizables-hero {
    background-image: url('../img/fondo2.jpeg'); 
    background-size: cover;
    background-position: center;
}

.section-one {
    margin-top: 40px; /* Ajusta este valor como lo necesites */
}

.section-two {
    margin-top: -80px; /* Ajusta este valor como lo necesites */
}


/* footer */
.utilizables-footer {
    margin-top: -20px; 
}
